{% extends 'tarefas/base.html' %}

{% block title %}Página inicial{% endblock %}

{%  block corpo %}
<h2>Bem-vindo à página inicial!</h2>


{%if tarefas %}
<ul >
    {% for tarefa in tarefas %}
    <li>
        <a href="{% url 'tarefa' tarefa.id %}">{{ tarefa.titulo }}</a>
        <strong>
        {% if tarefa.concluida %}-
        ( Concluida ) 
        {% else %} 
        ( Nao concluida )
        {% endif %}
    </strong>
    </li>
    {% endfor %}
    </ul>
{% else %}
<p>Nenhuma tarefa encontrada.</p>
{% endif %}
{% endblock %}